{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>WanderBot</h1>
<div id="g_id_onload"
        data-client_id="498445051324-ib0ovbeqk0nkhvbktqqtmmiqirvr1n70.apps.googleusercontent.com"
        data-login_uri="http://localhost:5000/"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
{% endblock %}